/**
* Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/**
* variables
*/
:root {
	--csfe-white: #f6f2f1;
	--csfe-blue: #4454e9;
}

/**
* normalize everything
*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
}

a {
	font-style: normal;
	text-decoration: none;
}

p {
	margin-block-start: 0;
	margin-block-end: 0;
}

h1,
h2,
h3 {
	margin-block-start: 0;
	margin-block-end: 0;
}

/*
* Container Colors
*/
.blue-container {
	background-color: var(--csfe-blue);
	color: var(--csfe-white);
}

.light-container {
	background-color: var(--csfe-white);
	color: var(--csfe-blue);
}

/**
* Page container
*/
.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding-bottom: 5vh;
}

/**
* Navbar header
*/
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	padding: 20px 5vw 20px 5vw;
	background-color: rgba(0, 0, 0, 0.1);
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.header-logo {
	display: flex;
	color: var(--header-color);
	transition-duration: 0.15s;
}

.header-logo:hover {
	fill: var(--csfe-white);
}

.header-logo h1 {
	margin-left: 5px;
	color: inherit;
}

.navbar__item-list {
	white-space: nowrap;
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.navbar__item-list li {
	margin: 0px;
	margin-block-start: 0;
	margin-block-end: 0;
}

.navbar__item-list a {
	transition-duration: 0.15s;
	padding: 8px 15px; /* top/bottom left/right */
	margin: 0px 5px;
	border-radius: 10px;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	font-weight: bold;
	color: white;
}

.navbar__item-list a:hover {
	color: var(--csfe-blue);
	background-color: var(--csfe-white);
}

/**
* Home page
*/
.home-background {
	background: url('./res/home-background.png');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.home-container {
	background: linear-gradient(
		180deg,
		rgba(68, 84, 233, 0.8) 0%,
		rgba(35, 50, 180, 0.8) 100%
	);
	height: 100%;
}

#home {
	height: 95vh;
	overflow: hidden;
}

#home .content {
	/* display: grid; */
	align-items: center;
}
#home .text-content {
	text-align: center;

}

.page-title {
	margin-bottom: 10px;
	line-height: 50px;
	padding: 0;
	font-family: "Source Code Pro";
	font-style: normal;
	font-weight: bold;
	font-size: max(30px,5vw);
	line-height: 12vh;
	letter-spacing: -0.03em;
	color: #ffffff;
}

.page-title-start {
	font-family: "Source Code Pro";
	font-style: normal;
	font-weight: normal;
	font-size: max(25px,4vw);
	line-height: 9vh;
	letter-spacing: -0.03em;

	color: #ffffff;
}

#home .text-content {
	padding-top: 15%;
	width: 80%;
	margin-left: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.home-container {
	color: white;
}


#home .description {
	margin-bottom: 5vh;
	font-size: max(20px, 2vw);
}
#home .home-button {
	width: 235px;
	height: 70px;
	border-radius: 100px;
	border: none;
	background-color: white;
	color: #4454e9;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 38px;
	text-align: center;
} 

.home-button-div {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.button-title {
	padding: 5px;
	
    overflow: hidden;
    white-space: nowrap;
}
.home-buttons {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	padding: 10px 5px;
}
.home-buttons.flex-start {
	justify-content: flex-start;
}
.home-buttons.center {
	justify-content: center;
}
.home-buttons.space-between {
	justify-content: space-between;
}
.home-buttons.space-around {
	justify-content: space-around;
}
.home-buttons .home-button-div {
	padding: 20px;
	margin: 0px 200px;
}

.home-button-div {
	  flex: 0 0 calc(100%/3 - 40px);
  }


/**
* About
*/

.offerings-row {
	margin-bottom: 5vh;
}
/**
* Youtube Video
*/
.csfe-video {
	position: relative;
	overflow: hidden;
	width: 80%;
	margin-left: 10%;
	padding-top: 44%;
}
.csfe-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin-left: 10%;
	width: 80%;
	height: 80%;
}

/**
* Team Members
*/
#team .content {
	align-items: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1vh;
}
#team .section-title, .title-subtext {
	color: var(--csfe-blue)
}
.team-members {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
}

  
/**
* https://codepen.io/ccania/pen/LmjveK
* copied this for the team member cards
*/
#team {
	display: flex;
	flex-flow: row wrap;
}

#team .member-picture {
	margin: 0px;
}

#team .member-picture img {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#team .member-picture img:hover {
opacity: 0.6;
transition: all .3s linear;
}
.column {
box-sizing: border-box;
flex: 1 100%;
justify-content: space-evenly;
margin: 20px;
}
.card-style {
border-radius: 12px;
border-image-slice: 1;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
transition: all 0.25s linear;
}
.card-style:hover {
box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

.card-text {
padding: 20px;
}

@media (min-width: 500px) {
.column {
	flex: 0 0 calc(100%/1 - 40px);
}
}
@media (min-width: 768px) {
.column {
	flex: 0 0 calc(100%/2 - 40px);
}
}
@media (min-width: 1000px) {
.column {
	flex: 0 0 calc(100%/3 - 40px);
}
}
@media (min-width: 1200px) {
	.column {
	flex: 0 0 calc(100%/4 - 40px);
}
}


/**
* Footer
*/
.footer {
	position: absolute;
	height: 200px;
	left: 0;
	right: 0;
	background: var(--csfe-blue);
}
.footer .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5vh;
}

.footer .section-title {
	font-family: Source Code Pro;
	font-style: normal;
	font-weight: bold;
	font-size: max(25px,3vw);
	line-height: 63px;
	text-transform: uppercase;
}

.social-media-div {
	display: flex;
}

.social-media-div i{
	margin: 20px;
	color: white;
}
.social-media-div i:hover {
	transform: scale(1.1);
	transition-duration: 0.2s;
}