/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* Variables */
:root {
	--csfe-white: #f6f2f1;
	--csfe-blue: #4454e9;
	--csfe-dark-blue: #000747;
	--transparent: rgba(0, 0, 0, 0);
}

/* Reset everything */
html,
body {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
}

a {
	font-style: normal;
	text-decoration: none;
}

p {
	margin-block-start: 0;
	margin-block-end: 0;
}

h1,
h2,
h3 {
	margin-block-start: 0;
	margin-block-end: 0;
}

a object {
	pointer-events: none;
}

.section-title,
.title-subtext {
	font-size: max(30px, 3vw);
}

.section-title-blue,
.section-title-white {
	text-transform: uppercase;
}
.section-title-blue {
	color: var(--csfe-blue);
}

.section-title-white,
.title-subtext {
	color: var(--csfe-white);
	font-size: max(30px, 3vw);
}

/* Reusable CSS Classes */
.blue-container {
	background-color: var(--csfe-blue);
	color: var(--csfe-white);
}

.light-container {
	background-color: var(--csfe-white);
	color: var(--csfe-blue);
}

.btn {
	border-radius: 100px;
	background-color: var(--transparent);
	font-size: 30px;
	width: 235px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	margin: 2vh;
}
.btn:hover {
	transition: 0.25s;
}

.btn-blue {
	border: 2px solid var(--csfe-white);
	color: var(--csfe-white);
}

.btn-blue:hover {
	box-shadow: inset 0 0 0 2em white;
	border-color: white;
	color: var(--csfe-blue);
}
.btn-white {
	border: 2px solid var(--csfe-blue);
	color: var(--csfe-blue);
}

.btn-white:hover {
	box-shadow: inset 0 0 0 2em var(--csfe-blue);
	border-color: var(--csfe-blue);
	color: var(--csfe-white);
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding-bottom: 5vh;
}

/* Navbar header */
header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px 5vw 10px 5vw;
	background-color: white;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.header-logo {
	transform: scale(0.75);
	height: auto;
}

.navbar__item-list {
	white-space: nowrap;
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.navbar__item-list li {
	margin: 0px;
	margin-block-start: 0;
	margin-block-end: 0;
}

.navbar__item-list a {
	transition-duration: 0.15s;
	padding: 8px 15px;
	margin: 0px 5px;
	border-radius: 10px;
	font-weight: 600;
	font-size: large;
	color: var(--csfe-blue);
}

.navbar__item-list a:hover {
	color: var(--csfe-white);
	background-color: var(--csfe-blue);
}

/* Home page */
.home-background {
	background: url('./res/home-background.png');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.home-container {
	background: linear-gradient(
		180deg,
		rgba(68, 84, 233, 0.7) 0%,
		rgba(35, 50, 180, 0.9) 100%
	);
	top: 0;
	height: 100%;
}

#home {
	height: 75vh;
	overflow: hidden;
}

#home .content {
	align-items: center;
	margin: 0;
	top: 50%;
	position: absolute;
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.page-title {
	margin-bottom: 10px;
	line-height: 50px;
	padding: 0;
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: bold;
	font-size: max(30px, 4vw);
	letter-spacing: -0.03em;
	color: var(--csfe-white);
}

.page-title-start {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: normal;
	font-size: max(25px, 3vw);
	color: #ffffff;
}

#home .text-content {
	text-align: center;
	text-shadow: 1px 1px rgb(0, 0, 0);
	width: 80%;
	margin: 0 0 0 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.home-container {
	color: var(--csfe-white);
}

#home .description {
	margin-bottom: 3vh;
	margin-top: 3vh;
	font-size: max(20px, 1.5vw);
}
.home-button-div {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 20%;
	border-radius: 20px;
	margin: 0px 10vw;
}

.button-title {
	overflow: hidden;
	white-space: nowrap;
	font-size: 3vh;
}
.home-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 5px;
	justify-content: space-evenly;
}
.home-buttons .home-button-div {
	padding: 20px;
	margin: 0px 5px;
	width: 235px;
}

/* About */

#about {
	padding: 0 5%;
}

#about .section-title-blue {
	padding: 5%;
}

#about .offerings-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	overflow: auto;
}

#about .offerings-row div {
	width: 400px;
	margin: 20px;
	display: table-cell;
	padding: 3%;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

#about .offerings-row div:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#about .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 1vh 0 0 0;
}

#about .offerings-row h1 {
	color: var(--csfe-blue);
	font-size: max(30px, 2vw);
}

#about .offerings-row p {
	color: var(--csfe-dark-blue);
}

/* Youtube Video */
.csfe-video {
	position: relative;
	overflow: hidden;
	width: 80%;
	margin-top: 5%;
	padding-top: 44%;
}
.csfe-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 0 0 10%;
	width: 80%;
	height: 80%;
}

/* Sponsors */
#sponsors .content {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-direction: column;
}
#sponsors .section-title-white {
	margin: 3%;
}
#sponsors .sponsor-box {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
}
.sponsor-link:hover {
	transform: scale(1.05);
	transition-duration: 0.3s;
}
#sponsors .sponsor-box object {
	width: 250px;
	margin: 20px;
}

/* Events */

#events .section-title-white {
	padding: 3%;
}

#events .tritonhacks-background {
	height: 20px;
	background: #d0d0cd url('./res/tritonhacks-bg.png') bottom right no-repeat;
}

#events .content {
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 1vh 0 0 0;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;
	/* or 136% */
	color: var(--csfe-white);
}

#events .events-row p {
	padding: 2%;
}

#events .events-row {
	/* margin-bottom: 5vh; */
	display: flex;
	border-spacing: 10px;
}

#events .events-row .tritonhacks-branding {
	/* display: table-cell; */
	padding: 3%;
}

#events .events-row .tritonhacks-info {
	/* display: table-cell; */
	padding: 3%;
}

.insta-handle {
	color: var(--csfe-white);
}
#events .tritonhacks-buttons {
	padding: 3%;
	display: flex;
	justify-content: center;
}

.event-link {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
/* Join Us */
#join .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.join-list {
	display: flex;
	width: 85vw;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.join-list-item {
	margin: 0 5vw;
	width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.number {
	font-style: normal;
	font-weight: 900;
	font-size: 100px;
	line-height: 126px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: rgba(68, 84, 233, 0.6);
}
.desc {
	margin: 20px;
	width: 250px;
}
.join-msg {
	color: var(--csfe-blue);
	font-weight: normal;
}

/* Team Members */
#team .content {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 1vh;
}
#team .section-title,
.title-subtext {
	color: var(--csfe-blue);
}
.team-members {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 80%;
}

/**
* https://codepen.io/ccania/pen/LmjveK
* copied this for the team member cards
*/
#team {
	display: flex;
	flex-flow: row wrap;
}

#team .member-picture {
	margin: 0px;
}

#team .member-picture img {
	width: 300px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#team .member-picture img:hover {
	opacity: 0.6;
	transition: all 0.3s linear;
}
.column {
	box-sizing: border-box;
	flex: 1 100%;
	justify-content: space-evenly;
	margin: 20px;
}
.card-style {
	border-radius: 12px;
	border-image-slice: 1;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
	transition: all 0.25s linear;
}
.card-style:hover {
	box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

.card-text {
	padding: 20px;
}

@media (min-width: 500px) {
	.column {
		flex: 0 0 calc(300px / 1 - 40px);
	}
}
@media (min-width: 768px) {
	.column {
		flex: 0 0 calc(300px / 2 - 40px);
	}
}
@media (min-width: 1000px) {
	.column {
		flex: 0 0 calc(300px / 3 - 40px);
	}
}
@media (min-width: 1200px) {
	.column {
		flex: 0 0 calc(100% / 4 - 40px);
	}
}

/* Footer */
.footer {
	position: absolute;
	height: 200px;
	left: 0;
	right: 0;
	background: var(--csfe-blue);
}
.footer .content {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 5vh;
}

.footer .section-title {
	font-weight: bold;
	font-size: max(25px, 3vw);
	line-height: 63px;
	text-transform: uppercase;
}

.social-media-div {
	display: flex;
}

.social-media-div i {
	margin: 20px;
	color: var(--csfe-white);
}

/* 
* Footer Links
* https://codepen.io/honglio/pen/FKyxG
*/
.hovicon {
	display: inline-block;
	font-size: 5vw;
	line-height: 90px;
	cursor: pointer;
	margin: 20px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	text-decoration: none;
	z-index: 1;
	color: var(--csfe-white);
}
.hovicon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.hovicon:before {
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
.hovicon {
	background: rgba(255, 255, 255, 0.1);
}
.hovicon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px var(--csfe-white);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(0.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(0.8);
	opacity: 0;
}
.hovicon:hover {
	background: var(--csfe-white);
	color: var(--csfe-blue);
}
.hovicon:hover i {
	color: var(--csfe-blue);
	transition-duration: 0.1s;
}
.hovicon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
